MONGODB_URI=mongodb://localhost:27017/cafirm
JWT_SECRET=dev-secret
PORT=5000
NODE_ENV=development
ADMIN_EMAIL=n@cafirm.com
ADMIN_PASSWORD=rrrrrrr
GEMINI_API_KEY=your_google_api_key_here
GEMINI_MODEL=gemini-2.0-flash
CLOUDINARY_CLOUD_NAME=dlh0o3f8e
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
